
table {
    input{
      width: 17px;
      height: 17px;
    }
    div{
      background-color: #41f4b8;
    }
    button{
      border: transparent;
      color: rgb(245, 61, 61);
      font-size: 20px;
    }
  }
